# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Python
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
backend/app/ml/*.joblib
backend/app/ml/data/

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
